*{
    padding: 0;
    margin: 0;
}
header{
    background: #156BA9;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
}
header img{
    height: 75px;
    cursor: pointer;
}
header button {
    background: #D7BA54;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 0.6em 1.3em;
    font-size: 14px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    margin: 0 5px ;
    height: 45px;
}
header button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
header button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}

body{
    background-color: #D9D9D9;
    font-family: 'Roboto', sans-serif;

}

main {
    display: flex;
    justify-content: center;  
    align-items: center;
    max-width: 100vw;
    min-height: 100vh;
    padding: 0 4rem;
    padding-top: 20px;
    gap: 10rem;
    margin-bottom: 0.5rem;
}

.img-pet{
    position: relative;
    width: 40%;
}

.img-pet img{
    object-fit: contain;
    width: 100%;
}

.InfoContainer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 2rem;
}

.nome{
    color:#156BA9;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.info-pet{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 100%;
}

.InfoContainer{
    padding-bottom: 2rem;
}

.containerSessao {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: .8rem;
}

.sessaoTitulo{
    font-size: .8rem;
    font-weight: bold;
    color: gray;
}

.ongNome{
    color: rgba(0, 0, 0, 0.64);
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    .InfoContainer{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    main{
        flex-direction: column;
        padding-top: 110px;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 1.5rem;
        min-height: auto;
    }

    .info-pet{
        width: 100%;
    }

    .img-pet{
        width: 100%;
    }
}