*{
    padding: 0;
    margin: 0;
}
header{
    background: #156BA9;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 10;
}
header img{
    height: 75px;
    cursor: pointer;
}
header button {
    background: #D7BA54;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 0.6em 1.3em;
    font-size: 14px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    margin: 0 5px ;
    height: 45px;
}
header button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
header button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
main {
    min-height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContInfos{
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding: 60px 20px 100px  20px;
}
.info-pet{
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 500px;
}
.img-pet{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.img-pet img{
    object-fit: contain;
    height:  100%;
    width: 100%;
    border-radius: 15px !important;
}

.InfoContainer{
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 2rem;
}
.nome{
    color:#156BA9;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
.containerSessao {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-bottom: .8rem;
    width: 300px;
}
.sessaoTitulo{
    font-family: 'Racing Sans One', sans-serif;
    font-size: 1.7rem !important;
    color: rgba(110, 110, 110, 0.884)
}
.ongNome{
    color:#156BA9;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.textInfo{
    color: rgba(0, 0, 0, 0.801);
    font-size: 1rem;
    font-weight: 700;
}
.contato{
    margin-bottom: 0 !important;
}
.contList{
    margin-top: 40px;
}
@media (max-width: 1420px) {
    .ContInfos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 60px 20px 100px  20px;
    }
    .info-pet{
        margin-top: 50px;
        order: 2;
    }
    .img-pet{
        order: 1;
    }
}

@media (max-width: 600px) {
    .InfoContainer{
        grid-template-columns: repeat(1, auto);
    }
    .ContInfos{
        padding: 0 10px;
    }
    .info-pet{
        margin: 330px 0 50px 0;
    }
    .img-pet{
        height: 270px;
        margin: 50px 0;
    }
}
