*{
    padding: 0;
    margin: 0;
}
header{
    background: #156BA9;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
}
header img{
    height: 75px;
    cursor: pointer;
}
header button {
    background: #D7BA54;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 0.6em 1.3em;
    font-size: 14px;
    border: 3px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    margin: 0 5px ;
    height: 45px;
}
header button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
header button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
main{
    background: #D7BA54;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
main .cont{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 0 20px;
}
main .cont .divForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 30px
}
main .cont .divForm h1{
    font-family: 'Racing Sans One', sans-serif;
    color: #000000e3;
}
.input {
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    margin: 15px 10px 15px 0;
}
.input::placeholder {
    color: var(--font-color-sub);
    opacity: 0.8;
}
.input:focus {
    border: 2px solid var(--input-focus);
}
.address{
    width: 440px;
}
.btnRegister {
    background: #156BA9;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    max-height: 100px;
    max-width: 200px;
    cursor: pointer;
    margin-top: 10px;
}
.btnRegister:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
}
.btnRegister:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}
span{
    font-size: 20px;
    color: red;
}
.contEmail{
    display: flex;
}

@media (max-width: 1420px) {
    .address{
        width: 200px !important;
    }
    .btnRegister{
        order: 2;
    }
    .contEmail{
        order: 1;
        display: block;
    }
}

@media (max-width: 1190px) {
    .cont{
        flex-direction: column;
        align-items: center !important;
        justify-content: center;
    }
    main img{
        margin-bottom: 100px;
        order: -1
    }
    .date{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .date input{
        margin: 15px 0 25px;
    }
    .divForm{
        align-items: center;
        margin-right: 0 !important;
    }
    #user-password,#user-cep,#user-cpf{
        margin: 15px 0 15px 0;
    }
}
@media (max-width: 768px) {
    .cont{
        flex-direction: column;
        align-items: center;
    }
    main img{
        margin-bottom: 50px;
        order: -1
    }
    main{
        padding-top: 100px;
    }
}
@media (max-width: 700px) {
    main img{
        height: 250px;
    }
    main{
        padding-top: 150px;
        height: 100%;
    }
    .divForm{
        align-items: center;
        margin-bottom: 50px;
    }
    .contName{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contName input{
        margin: 15px 0 15px 0;
    }
    .contEndereco{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contEndereco input{
        margin: 15px 0 15px 0;
    }
    .contCpf{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contCpf input{
        margin: 15px 0 15px 0;
    }
}
@media (max-width: 430px) {
    main img{
        height: 220px;
    }
}
@media (max-width: 360px) {
    main img{
        height: 190px;
    }
}